* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: skyblue;
  color: whitesmoke;
  font-size: 0.9rem;
  padding: 50px;
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer a:visited {
  color: whitesmoke;
}
