* {
  margin: 0;
  padding: 0;
}

.title {
  border-radius: 10px;
  color: whitesmoke;
  height: 300px;
  margin: 10px;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  max-height: 350px;
}

.blue {
  background-color: royalblue;
}

.green {
  background-color: green;
}
