* {
  margin: 0;
  padding: 0;
}

.close-btn {
  color: whitesmoke;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 20px;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
