* {
  margin: 0;
  padding: 0;
}

.modal-header {
  align-items: center;
  background-color: tomato;
  display: flex;
  float: left;
  margin: 0;
  padding: 0 0 20px 0;
}

.modal-header img {
  margin: 0 50px;
  max-width: 100px;
}

.modal-header span {
  color: whitesmoke;
  font-size: 2rem;
  font-weight: bolder;
}
