* {
    background-color: indigo;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

/* ################### cv-ramon-vasquez.html ################### */
.container {
    color: whitesmoke;
    margin: 100px auto;
    overflow: hidden;
    width: 60%;
}

.main {
    float: left;
    margin-left: 50px;
    text-align: center;
    width: 500px;
}

.main img {
    border-radius: 200px;
    filter: grayscale(100%);
    max-height: 350px;
    max-width: 400px;
    transition: border-radius 2s, box-shadow 2s, filter 2s;
}

.main img:hover {
    border-radius: 5px;
    box-shadow: 0 0 20px black;
    filter: none;
}

.main .fa-envelope-open-text:hover {
    color: gold;
}

.content {
    margin-left: 600px;
}

.content div:hover{
    color: gold;
    text-shadow: 0 0 20px black;
    transform: scale(110%) translate(20px);
}

.content p {
    margin-left: 25px;
}

.content ul {
    list-style-type: none;
    margin-left: 25px;
    padding-left: 0;
}

i {
    color: whitesmoke;
    font-size: 1.5rem;
}

/* ################### contacto.html ################### */
.form-box {
    background-color: teal;
    border-radius: 50px;
    box-shadow: 0 0 20px black;
    margin: 100px auto;
    max-width: 40%;
    padding: 50px;
    text-align: center;
}

.form-box * {
    background-color: teal;
    color: whitesmoke   ;
}

.form-box form {
    font-size: 1.5rem;
    width: 100%;
}

.form-box input {
    background-color: indigo;
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    transition: width 1s;
    width: 300px;
}

.form-box input:focus {
    color: gold;
    width: 600px;
}

.form-box input::placeholder {
    color: gray;
    text-align: center;
}

.form-box button[type=submit] {
    background-color: indigo;
    border-radius: 100px;
    font-size: 1.5rem;
    height: 150px;
    width: 150px;
}

.form-box button[type=submit] i {
    background-color: indigo;
}

.form-box button[type=submit]:hover {
    transform: rotate(360deg);
    transition: transform 0.5s;
}