* {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
  background-color: darkblue;
  color: aliceblue;
}

h1 {
  color: aliceblue;
  font-size: 3em;
}

p,
a {
  color: aliceblue;
  font-size: 2rem;
}

.bubble {
  background-color: orangered;
  border-radius: 50px 50px 50px 0;
  margin: 20px auto;
  padding: 30px;
  position: relative;
  width: fit-content;
}

.bubble::before {
  background-color: darkblue;
  border-top-left-radius: 25px;
  bottom: -50px;
  box-shadow: 0 -25px 0 0 orangered;
  content: "";
  height: 50px;
  left: 0;
  position: absolute;
  width: 25px;
  z-index: -1;
}

a {
  text-decoration: none;
}

a:active,
a:visited {
  color: aliceblue;
}

img {
  border: 5px solid aliceblue;
  border-radius: 20px;
}

.cheshire {
  transform: rotate(0deg) scale(100%);
  transition: all 1s;
}

.cheshire:hover {
  transform: rotate(360deg) scale(50%);
  transition: all 1s;
}

.exit-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.exit-img {
  border: 3px solid aliceblue;
  border-radius: 100px;
  margin: 0;
  max-height: 50px;
}

.exit-container p {
  font-size: 1rem;
  margin: 0;
}

form {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 30%;
}

form * {
  background-color: aliceblue;
  border: none;
  box-sizing: border-box;
  color: darkblue;
  font-size: 2rem;
  height: 50px;
}

form input {
  border-radius: 50px 0 0 50px;
  width: 500px;
}

form button {
  border: none;
  border-left: 1px solid black;
  border-radius: 0 50px 50px 0;
  width: 70px;
}
