<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <link rel='stylesheet' href='/stylesheets/contact.css' />
    <link rel='stylesheet' href='/stylesheets/news.css' />
  </head>
  <body>
    <nav class="nav-holder">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
